<hr>
<div class="row">
    <div class="col-5">

    </div>
    <div class="footer" style="margin-right: -10px;">
        <div class="row">
            <div class="mr-3">
                <a href="{% url 'movies:movie_list' %}" style="margin-bottom: -10px; font-size: 30px;"><strong>SSAFY</strong></a>
                <p style="font-size: 10px;"><strong>WEBMOVIESERVICE</strong></p>
            </div>
            <div>
                <p style="margin-top: 5px; font-size: 15px; margin-bottom: -2px;">
                    <strong>MADE BY : 윤지녕 & 이상택</strong>
                </p>
                <p style="font-size: 15px;">
                    <strong>Copyright © 2019 Yoon & Lee All Rights Reserved</strong>
                </p>
            </div>
        </div>
    </div>
</div>